// Farben
$color-brand:           rgb(30,55,64);
$color-second:          rgb(112,126,133);


// Schrift
$font-family: 'Open Sans', sans-serif;


// Schrift Stärken
$font-weight-light:     300;
$font-weight-regular:   400;
$font-weight-bold:      700;


// Schrift Farben
$font-color: rgb(33,33,33);
$font-color-light: white;
